<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
          href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap"
          rel="stylesheet"
        />
        <script
          src="https://kit.fontawesome.com/0442526d0c.js"
          crossorigin="anonymous"
        ></script>
        <link
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          rel="stylesheet"
        />
        <title>Register</title>
        <link rel="stylesheet" href="/css/register.css" />
      </head>
<body>
    <header>
        <div class="top-header">
            <div class="logo"> 
                <img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                </ul>
            </nav>
            <div class="form" action="#" method="GET">
                <div class="input"><i class="fa fa-search"></i> Buscar productos, marcas y más</div>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>

     <main>
      <section class="form-section">
        <form action="/">
          <label class="form-item">Nombre y apellido</label>
  
          <input class="form-item" type="text" name="nombre-apellido">

          <label class="form-item">Nombre de usuario</label>
  
          <input class="form-item" type="text" name="usuario">

          <label class="form-item">Fecha de nacimiento</label>
  
          <input class="form-item" type="date" name="fecha">

          <label class="form-item">Categorías de interéss</label>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="electro">Electro
          </div>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="moda">Moda
          </div>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="hogar">Hogar
          </div>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="jugueteria">Jugueteria
          </div>

          <div class="input-intereses">
            <input type="checkbox" name="intereses" value="vida-sana">Vida sana
          </div>

          <label class="form-item">Contraseña</label>
  
          <input class="form-item" type="password" name="contraseña" placeholder="escriba su contraseña">

          <label class="form-item">Confirmar contraseña</label>
  
          <input class="form-item" type="password" name="contraseña-confirmada" placeholder="confirme su contraseña">

          <button type="submit" class="enviar">Enviar
            <a href="/" class="form-item"></a>
          </button>

          <button type="reset" class="eliminar">Cancelar</button>

        </form>
      </section>
     </main>

     <footer>
        <section>
            <article class="article-footer">
                <div class="h3-p">
                    <h3 class="h3-footer">Paga con tarjeta o en efectivo</h3>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </div>
                <div class="h3-p">
                    <h3 class="h3-footer">Envío gratis desde $ 2.500</h3>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </div>
                <div class="h3-p">
                    <h3 class="h3-footer">Seguridad, de principio a fin</h3>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                </div>
            </article>
            <div class="Copyrigth">
                <h5>Copyright © 1999-2020 MercadoLiebre S.R.L.</h3>
            </div>
        
        </section>
        
        </footer>
</body>
</html>